DATABASE_URL="file:./dev.db"
OMR_SERVER_URL=""
OMR_AUTO_RECOGNIZE=false
ASC_PYTHON_PATH=""
SMS_PROVIDER="dry-run"
SMS_API_KEY=""
SMS_API_SECRET=""
SMS_SENDER_NUMBER=""
SMS_DRY_RUN="true"
SSODAA_API_KEY=""
SSODAA_TOKEN_KEY=""
SSODAA_DEFAULT_SEND_PHONE=""
SSODAA_UNSUB_PHONE=""
SSODAA_SENDER_NAME=""
SSODAA_TEST_RECEIVER_PHONE=""
APP_ENCRYPTION_KEY=""
